.menu-content {
    padding: 20px;
    margin-top: 1rem;
    background-color: var(--content-bg-color);
    box-shadow: 0 4px 8px var(--shadow-color);
    border-radius: 8px;
}

.menu-item-wrapper {
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 20px;
    width: 100%;
    margin-top: 20px;
}
