.mainFrame {
  position: relative;
  border-radius: 0;
  background-color: var(--main-bg-color);
}

.quizFrameBtnRow {
  height: 25%;
  width: 90%;
}

@media (min-width: 768px) {
  .mainFrame {
    height: 100vh;
  }
  .quizFrameBtnRow {
    height: 50%;
  }
}
