.mainContent {
  border: 5px solid var(--main-bg-color);
  max-height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
}

@media (min-width: 768px) {
  .mainContent {
    height: 100vh;
  }
}
