.qmMain {
  margin-top: 60px;
  border-radius: 25px;
  min-height: 60%;
  background-color: white;
  padding: 40px 0;
}

.quizMenuBtn {
  width: 80%;
  font-size: 1.2rem;
  border-radius: 25px;
  background-color: var(--main-bg-color);
}

.quizMenuBtn:disabled {
  font-size: 1rem;
  background-color: white;
}

.btnOut {
  box-sizing: border-box;
  background-color: rgb(207, 158, 228);
  color: yellow;
  border: 1px solid grey;
}

.btnIn {
  background-color: grey;
}

.chosen {
  background-color: yellow;
  border: 2px dashed brown;
  color: black;
}

.qmIcon {
  top: 0;
  font-size: 3em;
  position: absolute;
  color: aliceblue;
}

@media (min-width: 768px) {
  .qmMain {
    margin-top: 60px;
  }

  .quizMenuBtn {
    padding: 10px 0;
    margin: 5px 0;
    font-size: 2.6rem;
  }
}
